<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant recommend for you">
    <meta name="theme-color" content="#ff8303" />
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://use.fontawesome.com/b070c8f1df.js"
      crossorigin="anonymous"
    ></script>
    <title>WaroengKu Apps</title>
</head>
<body>
    <a href="#Maincontent" class="skip-link">Menuju Ke Konten</a>

      <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h3>WaroengKu Apps</h3>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/indra-setiawan-b2009822b/" target="_blank" rel="noopener">About Us</a></li>
            </ul>
        </nav>
      </header>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">WaroengKu Apps</h1>
            <h1 class="hero__title">Tentukan Pilihan Restaurantmu Sekarang!!</h1>
            <p class="hero__tagline">Jadikan Momen Makan Santai Bersama Keluarga Di Tempat Restaurant Pilihanmu</p>
        </div>
    </div>

     <main id="Maincontent"></main>
    <footer-custom></footer-custom>
</body>
</html>
